.box{
	padding: 0.3rem;
}
.paint{
	width: 96%;
	margin:  auto;
}
.paint img{
	width: 100%;
}
.info{
	width: 96%;
	margin: auto;
}
.info li{
	margin: 0.5rem 0;
	height: 4rem;
	font-size: 1.5rem;
}
.info li:not(:last-child){
	border-bottom: 0.1rem solid #eee;
}
.author{
	position: relative;
}
.author .userInfo{
	display: inline-block;
	width: 70%;
}
.author i{
	display: block;
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: 0;
	top: 0;
	background-color: red;
	border-radius: 50%;
}
.author .username{
	position: absolute;
	left: 1.5rem;
	top: 0.4rem;
	font-size: 1rem;
}
.author .followNum{
	position: absolute;
	left: 1.5rem;
	top: 1.6rem;
	font-size: 0.8rem;
}
.author .follow{
	position: absolute;
	width: 5rem;
	right: 0.5rem;
	top: 0.6rem;
}
.title{
	line-height: 4rem;
}
.iconInfo{
	display: flex;
	justify-content: space-around;
	line-height: 4rem;
}
.iconInfo i{
	font-size: 1.5rem;
}
.commetHead{
	line-height: 4rem;
}
.commetTitle{
	display: block;
	float: left;
	width: 10%;
	height: 80%;
	border-right: 0.2rem solid #eee;
}
.commetArea{
	height: auto!important;
}
.rebackAuthorText{
	line-height: 4rem;
}
.rebackAuthor{
	float: right;
	width: 10%;
}
.box{
	margin-bottom: 20rem;
}
.reback{
	position: relative;
	border-bottom: 2px solid #eee;
	min-height: 4rem;
}
.reback .time{
	font-size: 1rem;
	position: absolute;
	right: 0;
	bottom: 0.2rem;
}
.noCommet{
	text-align: center;
	line-height: 4rem;
	display: none;
}
.colorActive{
	color: #97FFFF;
}
